.image{
    position: absolute;
    right:0%;
    
}

.main-menu{
    position: absolute;
    width: 557px;
    height: 714px;
    left: 50%;
    top: 65%;
    transform: translate(-50%,-50%);

    background: rgba(153, 51, 204, 0.1);
    border: 0.5px solid #9933CC;
    border-radius: 20px;
}

.menu-avatar{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 18%;
    width: 179px;
    height: 179px;
    
    background: rgba(153, 102, 204, 0.5);
    border: 1px solid #9966CC;
    border-radius: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.information{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 38%;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 200px;
    
}
.information-name{
    width: 170px;
    height: 30px;
    margin-left:15px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
}
.information-group{
    width:190px;
    height: 30px;
    margin-left:5px;
    margin-top: 16px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
}
.information-change-name{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 76%;
    top: 36%;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color:#000000;
    
}

.information-change-group{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 76%;
    top: 42%;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color:#000000;
    
}

.menu-exit{
    width: 400px;
    height: 56px;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    background-color: #FFFFFF;
    border: 0.5px solid #9999CC;
    border-radius: 20px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.menu-developersLink{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color:#000000;
}





