.image{
    position: absolute;
    right:0%;
    display: block;
    height: 100%;
}

.account-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    min-height: 750px;
}

.account-block{
    position: relative;
    width: 557px;
    height: 714px;
    margin: 0 auto;
    background: rgba(153, 51, 204, 0.1);
    border: 0.5px solid #9933CC;
    border-radius: 20px;
}

.avatar-block{
    position: relative;
    
    width: 179px;
    height: 179px;
    
    border: 1px solid #9966CC;
    border-radius: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 36px auto 0;
}
.without-avatar{
    background: rgba(153, 102, 204, 0.5);
}
.avatar{
    display: block;
    height: 100%;
    width: 100%;
}
.personLetter{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 36px;
    color: #000000;
}
.information{
    width: 180px;
    margin: 30px auto 0;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
}
.information-name{
    width: 180px;
    height: 30px;
    margin-left:15px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
}
.information-group{
    width: 190px;
    height: 30px;
    margin-left:5px;
    margin-top: 16px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
}
.information-change-name{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 76%;
    top: 36%;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color:#000000;
    
}

.information-change-group{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 76%;
    top: 42%;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 11px;
    color:#000000;
    
}

.account-exit{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 115px;
    width: 400px;
    height: 56px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    background-color: #FFFFFF;
    border: 0.5px solid #9999CC;
    border-radius: 20px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.menu-developersLink{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 108px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color:#000000;
}

.back-button{
    position: absolute;
    top: 10%;
    left: 7%;
}