.back-button{
    position: absolute;
    top: 9.7%;
    left: 4.5%;
}

.new-task{
    position: relative;
    margin: 5% auto;
    
    width: 554px;
    height: 624px;
    
    background: rgba(153, 51, 204, 0.3);
    border: 0.5px solid #9933CC;
    border-radius: 20px;
}

.task-header{
    width: 380px;
    height: 49px;
    
    margin: 8% auto;
    margin-bottom: 0;
    
    text-align: center;
}

.task-header-input{
    width: 380px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    
}
.task-header-line{
    width: 75%;
    height: 0;
    
    margin: 2% auto;
    
    border: 1px solid #000000;
}
.task-modify-elements{
    margin: 8% auto;
    margin-bottom: 0;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.element-data-start{
    margin-bottom: 2%;
    color: #000;
}

.element-data-end{
    margin-bottom: 7%;
}
.element-notification-whole-day{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3%;
}
.element-notification-add{
    font-size: 16px;
    line-height: 20px;
    width: 300px;
    margin: 0 auto;
    
    display: flex;
    align-items: flex-end;
}


.text-link-color{
    color: #000;
}

.new-task-description{
    margin: 10% auto;
    margin-bottom: 0;
    
    display: flex;
}


.add-notification-container{
    margin-left: 38px;
}
.description-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    
    border-bottom: 1px solid #000000;
    
    margin: 0 20px;
    
}
.task-description-text{
    resize: none;
    height: 30px;
    outline: none;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    
    
}
.task-description-text:focus{
    position: absolute;
    left: 5%;
    bottom:20%;
    transform: translate(-50,-50%);
    width: 90%;
    height: 100px;
    
    border: 1px solid #9933CC;
    border-radius: 10px;
}


.save-button{
    position: absolute;
    left:50%;
    bottom: 5%;
    transform: translate(-50%,-50%);
    
    width: 71%;
    height: 56px;
    
    background-color: #FFFFFF;
    border: 0.5px solid #9933CC;
    border-radius: 20px;
    
    color: #000;
    
    display: flex;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    justify-content: center;
    align-items: center;
}

.save-button:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.save-button:active{
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@media(max-width:767px){
    .back-button{
        display: none; 
    }
    .new-task{
        max-width: 330px;
        height: 551px;
        margin: 36% auto;
    }
    .description-header{
        margin-right: 3%;
        font-size: 16px;
        line-height: 20px;
    }
    .task-description-text{
        height: 15px;
        font-size: 12px;
        
    }
    .task-description-text:focus{
        top: 52%;
        
    }
    .element-notification-add{
        
        justify-content: center;
    }
    .add-notification-container{
        margin-left: 4%;
    }
    
    .task-modify-elements{
        font-size: 18px;
        line-height: 22px;
    }
    
    .task-header{
        width: 247px;
        height: 32px;
        
        font-size: 26px;
        line-height: 32px;
    }
    .task-header-input{
        width: 247px;
        
        font-size: 26px;
        line-height: 32px;
    }
}














