.back-button{
    position: absolute;
    top: 10.8%;
    left: 9%;
}
.forward-button{
    position: absolute;
    top: 10.8%;
    right: 9%;
}
.forward-button svg{
    transform: scale(-1,1);
}
.week-days-container{
    margin: 4% auto;
    width: 1362px;
    height: 56px;
    
    display: flex;
    justify-content: space-between;
}
.weekday{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 179px;
    height: 56px;
    text-align: center;
    
    background-color: rgba(153, 51, 204, 0.3);
    border-radius: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
}
.weekday-data{
    display: block;
    font-size: 12px;
    line-height: 15px;
}





