.header-text-schedule-container{
    background: rgba(153, 51, 204, 0.3);
}

.shedule-container{
    position: relative;
    margin: 4% auto;
}
.week-days-container{
    height: 56px;
    margin: 0 38px;
    display: flex;
    justify-content: space-between;
}
.weekday{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 179px;
    height: 56px;
    text-align: center;
    
    background-color: rgba(153, 51, 204, 0.3);
    border-radius: 50px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
}

.weekday-data{
    display: block;
    font-size: 12px;
    line-height: 15px;
}


.item-time{
    height: 70px;
    width: 40px;
    margin-left: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    
}
.item-time-container{
    
    
}
.item-task{ 
    width: 165px;
    height: 90px;
    
    
    border-radius: 5px;
    background: rgba(153, 153, 204, 0.3);
    
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    
}

.item-task-name{
    position: relative;
    
    text-align: center;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.item-task-line{
    
    width: 120px;
    border: 1px solid #FFFFFF;
}

.item-task-description{
    position: relative;
    top: 28%;
    text-align: center;
    
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.item-balls{
    
    
    width: 2px;
    height: 52px;
    
    
    background-image: url(../pictures/ball_schedule.svg);
    
}

.item-task-time-begin{
    
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}
.item-task-time-end{
    
    
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

@media (max-width: 1352px) {
    .weekday{
        
        width:150px;
        height: 47px;
        font-size: 16.8px;
        line-height: 20.16px;
    }
}
@media (max-width: 1162px) {
    .weekday{
        
        width:126px;
        height: 39.5px;
        font-size: 14.1px;
        line-height: 16.9px;
    }
}



