<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<h1>Добавление пользователя</h1>
<form method="POST">
    <label>Почта</label><br>
    <input name="email" class="field"/><br><br>
    <label>Логин</label><br>
    <input name="login" class="field" /><br><br>
    <label>Пароль</label><br>
    <input name="password" class="field"/><br><br>
    <input type="submit" value="Отправить" />
</form>
<a href="/">К списку</a>
</body>
</html>