<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
    <meta charset="utf-8" />
</head>
<body>
<style>
    .centre {
        text-align: center;
    }
</style>
<h1><a href="/main_page">◀</a></h1> <br><br>
<div class="centre">
    <h1>Регистрация</h1> <br>
    <form action="/registration_page" method="POST">
        <label> {{message}}</label><br><br>
        <label>Почта</label><br>
        <input name="email" class="field" value="{{email}}"/><br>
        <label>Логин</label><br>
        <input name="login" class="field" value="{{login}}"/><br>
        <label>Пароль</label><br>
        <input type="password" name="password1" class="field" value="{{password}}"/><br>
        <label>Повторите пароль</label><br>
        <input type="password" name="password2" class="field" /><br><br>
        <input type="submit" value="Далее" />
    </form>
</div>
</body>
</html>