<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>reset password email page</title>
</head>
<body>
<style>
    .centre {
        text-align: center;
    }
</style>
<h1><a href="/login_page">◀</a></h1> <br><br>
<div class="centre">
    <h1>Восстановление пароля</h1> <br>
    <label >{{message}}</label> <br><br>
    <form action="/reset_email_page" method="POST">
        <label>Введите вашу почту</label>
        <input type="password" name="email" class="field" value="{{email}}"/><br><br>
        <input type="submit" value="Отправить" />
    </form>
</div>
</body>
</html>