<!DOCTYPE html>
<html>
<head>
    <title>restore password page</title>
    <meta charset="utf-8" />
</head>
<body>
<style>
    .centre {
        text-align: center;
    }
</style>
<h1><a href="/login_page">◀</a></h1> <br><br>
<div class="centre">
    <h1>Восстановление пароля</h1> <br>
    <label>{{message}}</label> <br><br>
    <form action="/reset_password_page/" method="POST">
        <label>Введите новый пароль</label><br>
        <input type="password" name="password1" class="field" value="{{password}}"/><br>
        <label>Повторите пароль</label><br>
        <input type="password" name="password2" class="field"/><br><br>
        <input type="submit" value="Обновить и войти" />
    </form>
</div>
</body>
</html>