.edit-task{
    position: relative;
    margin: 70px auto;
    width: 930px;
    height: 700px;
    background-color: rgba(153, 51, 204, 0.3);
    border: 1px solid #9933CC;
    border-radius: 20px;
}

.edit-task .task-header{
    position: absolute;
    width: 410px;
    height: 49px;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    display: flex;
    align-items: center;
    text-align: justify;
}

.edit-task .task-modify-elements{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 8% auto 0;
    width: 500px;
}

.edit-task .element-data-start{
    width: 500px;
    margin-bottom: 2%;
    color: #000;
}

.edit-task .element-data-end{
    width: 500px;
    margin-bottom: 7%;
}

.edit-task .task-header-underline{
    margin: 10% auto 0 auto;
    width: 559px;
    height: 0;
    border: 1px solid #000000;
}

.edit-task .additional-information{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.edit-task .information-data{
    margin-right: 7%;
    color: #000;
}
.edit-task .information-time{
    color: #000;
}
.edit-task .additional-remembering{
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
}
.edit-task .remembering-word{
    margin-right: 3%;
}

.edit-task .remembering-times{
    text-align: end;
}
.edit-task .remembering-time span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.edit-task .task-description{
    margin-top: 3%;
    margin-left: 9%;

    font-family: 'Montserrat', sans-serif;
}
.edit-task .description-header{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.edit-task .description-text{
    width: 774px;

    display: flex;
    align-items: center;
    text-align: justify;
    font-variant: small-caps;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}


.edit-task .description-text-modify{
    width: 774px;
    height: 250px;

    font-weight: 300;

    resize: none;
    outline: none;
    padding: 15px;
}

.edit-task .description-text-modify:focus{
    border: 1px solid #9933CC;
    border-radius: 10px;
}
.edit-task .header-modify{
    font-weight: 300;
    color: #000;
}
.edit-task .additional-remembering-link{
    display: flex;
    width: 255px;
    justify-content:flex-end;
    color:#000;
}
.edit-task .information-data-link{
    margin-right: 7%;
}