
.header-task{
    width: 180px;
    height: 32px;
    margin: 7.8% auto 0 auto;
    
    font-family: "Comfortaa", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    
    background: rgba(153, 51, 204, 0.1);
    border-radius: 50px;
    padding-top: 4px;
}

.header-task-href{
    width: 100%;
    color: #000;
}

.header-underline{
    width: 200px;
    height: 0;
    margin: 1% auto 0 auto;
    border-top: 1px solid #000;
}
.back-button{
    margin: 1.8% 0 0 2.7%;
}