.header-text-calendar{  
    border-radius: 50px;
    background-color: rgba(153, 51, 204, 0.3);
}


.calendar-table{
    position: relative;
    width: 1122px;
    
    
    margin:  0 auto;
    margin-top: 68px;
    
    background-color: rgba(153, 51, 204, 0.5);
    border-radius: 10px;
}

.table-data{
    display: flex;
    
    font-family: 'Nunito',sans-serif;
    font-weight: 300;
    font-size: 70px;
    line-height: 95px;
    text-transform: uppercase;
}

.table-data-month{
    width: 248px;
    height: 95px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 46px;
    margin-right: 59px;
    
}

.table-data-year{
    width: 143px;
    height: 95px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.data-change{
    color: #fff;
    
    display: block;
    height: 100%;
    width: 100%;
}

.table-items{
    position: relative;
    margin: 0 auto;
    
    width: 1055px;
    
    display: flex;
    
    
}
.item-weekday{
    position: relative;
    height: 72px;
    width: 150px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}















