.header-text-task{
    background-color: rgba(153, 51, 204, 0.3);
}

.back-button {
    position: absolute;
    top: 15% !important;
    left: 4.5%;
}

.watch-task{
    position: relative;
    margin: 70px auto;
    width: 930px;
    height: 624px;
    background-color: rgba(153, 51, 204, 0.3);
    border: 1px solid #9933CC;
    border-radius: 20px;
}

.task-header{
    margin: 5.6% auto 0 auto;
    width: 558px;
    height: 49px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    text-align: center;
}

.task-header-underline{

    margin: 0 auto 0 auto;
    width: 559px;
    height: 0px;
    border: 1px solid #000000;
}

.task-additional{
    margin: 0 auto;
    margin-top: 1.7%;
    width: 255px;
    height: 72px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.additional-information{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    text-align: center;
}

.additional-remembering{
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
}
.remembering-word{
    margin-right: 3%;
}

.remembering-times{
    text-align: end;
}
.remembering-time span{
    font-family: 'Montserrat';
    font-weight: 600;
}
.task-description{
    margin-top: 3%;
    margin-left: 9%;

    font-family: 'Montserrat';
}
.description-header{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.description-text{
    width: 774px;

    display: flex;
    align-items: center;
    text-align: justify;
    font-variant: small-caps;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

}
.modify-button{
    position: absolute;
    bottom: 3%;
    right: 3%;
}

.modify-button:hover{
    filter: drop-shadow(0px 0px 7px #9933CC);
}

.modify-button:active{
    filter: drop-shadow(0px 0px 7px #9933CC);
}
@media (max-width: 1000px){

.task-header-underline{
    width: 240px;
}
.watch-task{
    width: 330px;
    height: 551px;
    margin: 35% auto;
}
.task-header{
    width: 233px;
    height: 35px;
    font-size: 26px;
    line-height: 32px;
}
.task-additional{
    padding-right: 15px;
}
.additional-information{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}
.additional-remembering{
    font-size: 16px;
    line-height: 20px;
}
.description-header{
    font-size: 16px;
    line-height: 20px;
}
.description-text{
    width: 274px;
    height: 76px;
    font-size: 14px;
    line-height: 17px;
}}