.watch-task{
    position: relative;
    margin: 70px auto;
    width: 930px;
    height: 624px;
    background-color: rgba(153, 51, 204, 0.3);
    border: 1px solid #9933CC;
    border-radius: 20px;
}

.watch-task .task-header{
    position: absolute;
    width: 410px;
    height: 49px;
    top: 10.5%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;

    display: flex;
    align-items: center;
    text-align: justify;
    text-transform: capitalize;
}

.watch-task .task-header-underline{

    margin: 10% auto 0 auto;
    width: 559px;
    height: 0;
    border: 1px solid #000000;
}

.watch-task .task-additional{
    margin: 1% auto 0 auto;
    width: 255px;
    height: 72px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.watch-task .additional-information{
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.watch-task .information-data{
    margin-right: 7%;
}

.watch-task .additional-remembering{
    display: flex;
    align-items:flex-start;
    justify-content:flex-end;
}
.watch-task .remembering-word{
    margin-right: 3%;
}

.watch-task .remembering-times{
    text-align: end;
}
.watch-task .remembering-time span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.watch-task .task-description{
    margin-top: 3%;
    margin-left: 9%;

    font-family: 'Montserrat', sans-serif;
}
.watch-task .description-header{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.watch-task .description-text{
    width: 774px;

    display: flex;
    align-items: center;
    text-align: justify;
    font-variant: small-caps;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}