.image{
    position: absolute;
    bottom: 0;
    right: 0;
}
.back-button-svg{
    position: absolute;
    top: 4%;
    left: 3%;
}

.person-account-link{
    position: absolute;
    top: 5%;
    right: 6%;
}
.enter-window{
    width: 600px;
    height: 690px;
    
    position: relative;
    margin: 90px auto;
    
    background: rgba(153, 153, 204, 0.3);
    border: 0.1px solid rgba(153, 153, 204, 0.3);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}
.description-enter{
    position: relative;
    
    width: 263px;
    height: 40px;
    margin: 80px auto;
    
    text-align: center;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.inputs-container{
    width:394px;
    height: 500px;
    
    margin: 0 auto;
}
.input-something{
    width:394px;
    height: 56px;
    margin-bottom: 32px;
    
    background: #FFFFFF;
    border: 0.5px solid #9999CC;
    border-radius: 20px;
    
}
input{
    width:100%;
    padding: 17px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.continue-button{
    margin-top:200px;
}

.forget-password{
    width: 120px;
    height: 18px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    
    margin: 15px auto;
}
.forget-password-link{
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
}











