.continue-button{
    width:394px;
    height: 56px;
    
    background: #9999CC;
    border: 0.5px solid #9999CC;
    border-radius: 20px;
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-button:hover{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.continue-button:active{
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.5);
}