.header{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-text{
    display: flex;
    position: relative;
    width: 1000px;
    height: 110px;
    top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
    
    justify-content: center;
    align-content: center;
    
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    align-items: center;
}

.header-line{
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 0px;
    border-top: 1px solid #000;
}


.open-personalWindow{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 32px;
    color: #000;
    border: 1px solid #9966CC;
    border-radius: 50%;
}

.without-avatar{
    background: rgba(153, 51, 204, 0.5);
}
.without-avatar:hover{
    background: rgba(153, 51, 204, 0.5);
    border: 0.5px solid #9933CC;
    box-shadow: 0px 0px 10px #9933CC;
}
.without-avatar:active{
    background: rgba(153, 51, 204, 0.8);
    border: 0.5px solid #9933CC;
    box-shadow: 0px 0px 10px #9933CC;
}
.personLetter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.open-personalWindow img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
}

.header-text-calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    text-align: center;
    width: 155px;
    height: 32px;
    margin-left: 40px;
    
}

.header-text-schedule{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 235px;
    height: 32px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding-left: 50px;
    padding-right: 30px;
}

.header-text-task{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 155px;
    height: 32px;
    margin-right: 50px;
    

}
.header-text-task a{
    
    display: block;
    width: 100%;
    height: 100%;
}

.header-text-schedule a{
    display: block;
    width: 100%;
    height: 100%;
}
.header-text-calendar a{
    display: block;
    width: 100%;
    height: 100%;
}

.header-text-task:hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-task:active{
    background-color: rgba(153, 51, 204, 0.3);
}
.header-text-schedule:hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-schedule:active{
    background-color: rgba(153, 51, 204, 0.3);
}
.header-text-calendar:hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-calendar:active{
    background-color: rgba(153, 51, 204, 0.3);
}


.header-text-calendar-button{
    color: #000;
}
.header-text-task-button{
    color: #000;
}
.header-text-schedule-button{
    color: #000;
}