.header{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-text{
    display: flex;
    position: relative;
    width: 1000px;
    height: 110px;
    top: 60px;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    align-content: center;
    
    
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    align-items: center;
}

.header-line{
    display: block;
    margin: 0 auto;
    width: 72%;
    max-width: 1030px;
    height: 0px;
    border-top: 1px solid #000;
}


.open-personalWindow{
    position: absolute;
    top: 10%;
    right: 20px;
    width: 64px;
    height: 64px;
    font-family: 'Comfortaa', serif;
    font-weight: 300;
    font-size: 32px;
    color: #000;
    border: 1px solid #9966CC;
    border-radius: 50%;
}

.without-avatar{
    background: rgba(153, 51, 204, 0.5);
}
.without-avatar:hover{
    background: rgba(153, 51, 204, 0.5);
    border: 0.5px solid #9933CC;
    box-shadow: 0px 0px 10px #9933CC;
}
.without-avatar:active{
    background: rgba(153, 51, 204, 0.8);
    border: 0.5px solid #9933CC;
    box-shadow: 0px 0px 10px #9933CC;
}
.personLetter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.open-personalWindow img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
}

.arrow-panel{
    position: absolute;
    display: flex;
    width: 85%;
    max-width: 1280px;
    top: 116px;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
}

.header-text-calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    text-align: center;
    width: 179px;
    height: 32px;
    margin-left: 38px;
    
    border-radius: 50px;
}

.header-text-schedule{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 255px;
    height: 32px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    
}
.header-text-schedule-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 70.2%;
    height: 100%;
    
    border-radius: 50px;
}
.header-text-task{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 179px;
    height: 32px;
    margin-right: 17px;
    margin-left: 177px;
    border-radius: 50px;
}

.header-text-task:not(.active):hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-task:not(.active):active{
    background-color: rgba(153, 51, 204, 0.3);
}
.header-text-schedule-container:hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-schedule-container:active{
    background-color: rgba(153, 51, 204, 0.3);
}
.header-text-calendar:hover{
    background-color: rgba(153, 51, 204, 0.1);
}
.header-text-calendar:active{
    background-color: rgba(153, 51, 204, 0.3);
}


.header-text-calendar-button{
    color: #000;
}
.header-text-task-button{
    color: #000;
}
.header-text-schedule-button{
    color: #000;
}

.forward-button svg{
    transform: scale(-1,1);
}

@media(max-width: 1352px) {
    .header-text{
        height: 92.4px;
        margin-bottom: 9px;
        font-size: 20.16px;
        line-height: 22.68px;
    }
    .header-text-calendar{
        width: 150px;
        height: 27px;
    }
    .header-text-task{
        width: 150px;
        height: 27px;
        margin-left: 228px;
    }
    .header-text-schedule{
        width: 214.2px;
        height: 27px;
    }
    .open-personalWindow{
        top: 8.4%;
        right: 16.8px;

        font-size: 27px;
        width: 54px;
        height: 54px;
    
    }
    .arrow-panel{
        top: 107.5px;
    }
}
@media(max-width: 1162px) {
    .header-text{
        height: 78px;
        margin-bottom: 16px;
        font-size: 17px;
        line-height: 19px;
    }
    .header-text-calendar{
        width: 126px;
        height: 22.68px;
    }
    .header-text-task{
        width: 126px;
        height: 22.68px;
        margin-left: 268px;
    }
    .header-text-schedule{
        width: 180px;
        height: 22.68px;
    }
    .open-personalWindow{
        top: 7%;
        right: 14.1px;

        font-size: 23px;
        width: 45px;
        height: 45px;
    
    }
    .arrow-panel{
        top: 100px;
    }
}